nav{
    background-color: black;
}
ul{
    display: flex;
    list-style: none;
    justify-content: right;
    gap: 20px;
    padding: 20px;
}
ul a {
    text-decoration: none;
    color: aliceblue;
    font-size: 25px;
    padding: 21px;
}
ul a:hover{
    background-color: aliceblue;
    color: black;
}
