nav{
    background-color: black;
}
ul{
    display: flex;
    list-style: none;
    justify-content: right;
    gap: 20px;
    padding: 20px;
}
ul a {
    text-decoration: none;
    color: aliceblue;
    font-size: 25px;
    padding: 21px;
}
ul a:hover{
    background-color: aliceblue;
    color: black;
}
section{
    border-style: solid;
}
#titulo{
    text-align: center;
    font-size: 200%;
}
#proyectos {
    display: grid;
    grid-template-columns: repeat(3,1fr);
    margin: 30px;
    justify-content: center;
    align-items: center;
}
article{
    display: flex;
    border-style: solid;
    margin: 10%;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 5%;
}
article:hover{
    transform: scale(1.2);
}